body{

text-align:center;
font-family:Arial;
background:blue;
color:white;
overflow:hidden;

}

button{

padding:15px 25px;
font-size:18px;
cursor:pointer;
background:#0044ff;
color:white;
border:none;
border-radius:10px;
margin:10px;

}

#foto{

display:none;
width:150px;
position:absolute;

}

.correr{

animation: rodarTela 6s linear infinite;

}

@keyframes rodarTela{

0%{top:0;left:0;transform:rotate(0deg);}
25%{top:0;left:80%;transform:rotate(360deg);}
50%{top:70%;left:80%;transform:rotate(720deg);}
75%{top:70%;left:0%;transform:rotate(1080deg);}
100%{top:0;left:0;transform:rotate(1440deg);}

}

#ana{

position:absolute;
bottom:50px;
left:50%;
transform:translateX(-50%);
background:#ff2e6e;
padding:30px;
border-radius:20px;
font-size:25px;

}

.beijo{

position:absolute;
font-size:40px;
animation: subir 2s linear;

}

@keyframes subir{

from{
transform:translateY(0);
}

to{
transform:translateY(-200px);
opacity:0;
}

}

#morte{

font-size:40px;
margin-top:20px;

}

.mensagem{
position:absolute;
font-size:20px;
color:#ff69b4;
font-weight:bold;
}